.nav {
  position: fixed;
  background: white;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
  color: #44A1A5;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  padding: 0 25px;
  font-size: 25px;
  line-height: 50px;
  z-index: 500;
  opacity: 0;
  transition: opacity 500ms;
  display: flex;
  justify-content: space-between;
}

a, [ui-sref], [ng-click] {
  cursor: pointer;
  outline: none;
   text-decoration: none;
  color: inherit;
}
